*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


body{
  margin: 0;
  padding: 0;
  background-color: rgba(236, 236, 236, 0.829);
  overflow-x: scroll;


}
#container{
  display: flex;

}
#resume{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;


}
#resume-paper{
background-color: white;
min-height: 100vh;
width: 100%;
box-sizing: border-box;
overflow-x: hidden;
display: flex;
flex-direction: column;
width: 80%;
border-radius: 2px;
-webkit-box-shadow: 5px 0px 21px 8px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 0px 21px 8px rgba(0,0,0,0.25);
box-shadow: 5px 0px 21px 8px rgba(0,0,0,0.25);
margin-bottom: 5vh;

}

#form{
  position: sticky;
  width: 40%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(101, 133, 194, 0.637);;
  align-items: center;
  padding: 3em;
  flex: 1;

}

.form-section {
  display: flex;
  justify-content: row;
  width: 100%;
  margin-bottom: 2em;
  border-radius: 20px;
  padding: 1em;
  background-color: rgb(200, 200, 201);
}
.form-section button{
  margin-left: auto;
}
.form-section img{
  height:50;
  width: 50px;
  margin-right: 1em;
}

.form-section:hover{
  background-color: rgba(0, 0, 255, 0.267);
}
form button{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 2em;
  margin-top: 2em;
  
}

form{
  background-color: rgb(200, 200, 201);
  border-radius: 10px;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 5%;
  align-items: flex-start;
}

.input-group{
  display:flex;
  flex-direction: column;
  font-weight: bolder;
  font-size: 1.5em;
  width: 80%;
  margin-bottom: 5%;
}
.input-group input{
  background-color: rgb(236, 233, 233);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 0.5em;
  border-style: none;
  border-radius: 10px;
  height: 2vh;
  padding: 10px;
}

.label-text{
  font-size: 2vh;
}

input::placeholder,
textarea::placeholder{
  color:rgba(0, 0, 0, 0.322);
  font-weight: bolder;
}

button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}


button .icon{
  height: 50px;
  width:50px;
}

.from-until{
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}
.from-until span{
  font-weight:bolder;
  margin-bottom: 1em;
}
.from-until div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-buttons{
  display:flex;
  flex-direction: row;
  width :100%;
  justify-content: center;
  align-items: center;

}
.form-buttons #save-button{
margin-right: auto;
width: 40%;
border-radius: 15px;
background-color: rgb(38, 182, 38);
font-size: 1.3em;
font-weight: bolder;
color: white;
flex: 1;
}


textarea{
  border-radius: 10px;
  border-style: none;
  background-color: rgb(236, 233, 233);
  padding: 2em;
}

#skill-div {
  display: flex;
  width: 100%;
  
}

#delete-button{
  margin: 0;
  padding: 0;
  margin-left: 2em;
}
#skills-form {
  width: 100%;
  height: 100%;

}
#plus-btn{

  margin-right: 100%;
  border-radius: 15px;
  background-color: rgb(38, 182, 38);
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

#resume-top{
  width: 100%;
  height: 25%;
  background-color: rgba(15, 15, 57, 0.85);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  
}

#resume-top h5{
  color: rgb(221, 218, 218);
  font-size: 2em;
}

#personal-details{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 1em;
  color:rgb(199, 199, 199);
}

#personal-details span{
  display: flex;
  align-items: center;
}
#personal-details svg{
  margin-right :0.5em;
  margin-left: 0.5em;

}

.section-title{
  display: flex;
  justify-content: center;
  margin-top: 0;
  background-color: rgba(0, 0, 255, 0.19);
  padding: 0.6em;
  justify-self: center;
  align-self: center;
  color: rgb(15, 52, 108);
}

.resume-section{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
}

.section-details{
  display:flex;
  flex-direction: row;
  padding-right: 3em;
  padding-left: 3em;
  justify-content: space-between;
}
.section-dates{
  margin-right: 10em;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

}

.section-stats{
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#description-container{
  width: 30em;
  word-wrap:break-word;
}


.section-stats h4{
  margin-bottom: 0;
}
.section-stats span{
  margin-bottom: 1em;
}
